
-#.navbar
  -#%a.right(href="#") Domů
.row
  .side-column-content
    .search-wrapper
      %form#search-form
        %input#search{:placeholder => "Hledat...", :required => true}/
        %button.close{:type => "reset"}X
      -#.search-icon-container
        -#%i.material-icons search
      .search-results

    .side-bar
      - layer = ''
      - @ps_stores.group_by(&:layer).each do |layer, stores|
        %div.layer-stores
          %h2.layer-header
            = layer
          - stores.each do |store|
            %div.rowitem{:index => store.id, :latitude=>store.latitude, :longitude=>store.longitude, :address=>store.address1, :city=>store.city, :name=>store.name, :country=>store.id_country, :postcode=>store.postcode}
              .rowitem_content
                %h3
                  = store.name
                %ul.store
                  %li.address
                    = store.address1
                  %li.city
                    = store.city
                    = store.postcode

  .main
    / div musi mit specifikovanou vysku v css
    #mapid

= javascript_include_tag 'zload'
