!!!
%html
  %head
    %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")/
    %meta(charset="utf-8")/
    %title Mapa Obchodů
    %meta(content="width=device-width, initial-scale=1.0" name="viewport")/
    %link(href="docs/images/favicon.ico" rel="shortcut icon" type="image/x-icon")/
    %link(crossorigin="" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" rel="stylesheet")/
    %link(href="mapa.css" rel="stylesheet" type="text/css")/
    %script(crossorigin="" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js")
  %body
    .navbar
      %a(href="#") Link
      %a(href="#") Link
      %a.right(href="#") Link
    .row
      .side_column_content
        .selectize
          .selectize-control.demo-default.multi
            .selectize-input.items.not-full.has-options.has-items
              .item{"data-value" => "awesome"} awesome
              %input#input-tags-selectized{:autocomplete => "off", :tabindex => "", :type => "text"}/
          .selectize-dropdown.multi.demo-default
            .selectize-dropdown-content
              .option{"data-selectable" => "", "data-value" => "neat"} neat
        .side_bar
          -i = 1
          - @ps_stores.each do |store|
            %div.rowitem{:id =>i, :latitude=>store.latitude, :longitude=>store.longitude}
              -i = i + 1
              .rowitem_content
                %h1
                  = store.name
                %ul.store
                  %li.address
                    = store.address1
                  %li.city
                    = store.city
                    = store.postcode

      .main
        / div musi mit specifikovanou vysku v css
        #mapid

    = javascript_include_tag "application"
